:root {
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}

#number-container{
    display: flex;
    width: auto;
    height: 60px;
    background-color: lightyellow;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.new-game{
    width: 60px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    color:white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.number-grid{
    width: 18px;
    height: 18px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

#main-container{
    display: flex;
    flex-wrap : wrap;
    row-gap : 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container{
    display: grid ;
    grid-template-columns: repeat(5, 10px);
    grid-template-rows: repeat(7, 10px);
    row-gap: 2px;
    column-gap: 2px;
    place-items: center;
    background-color: papayawhip;
}

.box {
    width: 100%;
    height: 100%;
    font-size: 6px;
    text-align: center;
    border: 1px solid #d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    text-transform: uppercase;
}

.box:nth-child(1) {
    height: 10px;
    grid-column: 1/6;
    grid-row:1/2;
    background-color: lightyellow;
}

.empty {
    background: var(--empty);
    color: white;
}

.wrong {
    background: var(--wrong);
    color: white;
}    

.right {
    background: var(--right);
    color: white;
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.box:nth-child(2) {
    /* background-color: red; */
}